$color-primary: #AC0032;
$color-primary-light: #c87a73;
$color-primary-dark: #34000f;
$color-secondary-light: #FCE478;
$color-secondary-dark: #DBAD3B;
$color-tertiary-light: #484E8F;
$color-tertiary-dark: #0D0D19;

$color-white-compliment: #FDFFFC;
$color-yellow-compliment: #f1d302;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #343434;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #EEEEEE;
$color-grey-light-2: rgb(199, 197, 197);
$color-red-alert: #972B34;

// SPOTIFY
$color-spotify-green: #57B560;

// FONTS

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;