$color-primary: #AC0032;
$color-primary-light: #c87a73;
$color-primary-dark: #34000f;

$color-white-compliment: #FDFFFC;
$color-yellow-compliment: #f1d302;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light: #EEEEEE;
$color-red-alert: #972B34;

// FONTS

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;