*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: Uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */ }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub-2 {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c87a73, #34000f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }

.heading-secondary:hover {
  transform: skewY(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.heading-side {
  list-style-type: none;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c87a73, #34000f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: left; }

.heading-side:hover {
  transform: skewY(2deg) skewX(3deg) scale(1.3);
  text-shadow: 0.5rem 5rem 2rem rgba(0, 0, 0, 0.2); }

.heading-section-title {
  width: 150px;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #c87a73, #34000f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  text-align: left;
  margin-right: 2rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-width-3 {
  width: 300px; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(200, 122, 115, 0.7), rgba(200, 122, 115, 0.9)), url(https://i.imgur.com/Oz7V4nb.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 7rem;
    margin-top: 2rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  background-color: #EEEEEE;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 3rem) / 4) + (2 * 3rem)); }
  .row .col-1-of-8 {
    width: calc((100% - 7 * 3rem) / 8); }
  .row .col-7-of-8 {
    width: calc( 7 * ((100% - 7 * 3rem) / 8) + (6 * 3rem)); }

.section-about {
  background-color: #EEEEEE;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-login-container {
  height: 80vh; }

.section-login-box {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  margin-top: 10rem; }

.section-login-row {
  margin-top: 2rem; }

.section-login a {
  margin-right: 1rem; }

.section-signup-container {
  height: 85vh; }

.section-signup-box {
  width: 50%;
  height: 80%;
  margin: 0 auto;
  margin-top: 3rem; }

.section-signup-row {
  margin-top: 2rem; }

.section-signup a {
  margin-right: 1rem; }

.section-music {
  background-color: #EEEEEE;
  padding: 5rem 0 12rem 0;
  margin-top: -20vh; }
  .section-music-track {
    padding: 2rem 0rem; }
  .section-music-track ul {
    list-style-type: none; }
  .section-music-track ul li {
    display: flex;
    align-items: center;
    vertical-align: center;
    transition: all .5s; }
  .section-music-track ul li:hover {
    transform: translateX(-1.5rem) scale(1); }
  .section-music-track ul li span {
    display: grid;
    grid-template-columns: column;
    width: 100%;
    border-radius: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase; }
  .section-music-track ul li span small {
    font-size: .5rem; }
  .section-music-track ul li a {
    position: absolute;
    padding-bottom: 3rem; }
  .section-music-track ul li img {
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    margin-right: 2rem;
    margin-bottom: .2rem; }
  .section-music-updated {
    font-size: 1rem;
    padding: .5rem; }
  .section-music-play {
    position: absolute;
    margin-left: 1.5rem;
    font-size: 3rem;
    color: #AC0032;
    opacity: 0;
    transition: all .5s; }
  .section-music-play:hover {
    opacity: 1;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .section-music-pause {
    position: absolute;
    margin-left: 1.5rem;
    font-size: 3rem;
    background-color: white;
    border-radius: 2rem;
    color: #AC0032;
    transition: all .5s; }
  .section-music-pause:hover {
    box-shadow: 0.2rem 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .section-music-track ul li div > .fa-plus {
    font-size: 1.5rem; }
  .section-music-track ul li div > .fa-plus:hover {
    cursor: pointer; }
  .section-music-track ul li div > .fa-check {
    color: #c87a73;
    font-size: 1.5rem; }
  .section-music-track ul li div > .fa-check:hover {
    color: #c87a73; }

.section-search {
  text-align: center; }
  .section-search-login {
    display: grid;
    grid-template-columns: column; }
  .section-search-login button {
    display: flex;
    justify-content: center;
    font-size: 20rem;
    outline: none;
    border: none;
    padding: 2rem 1rem;
    color: #57B560;
    background: transparent; }
  .section-search-login small {
    font-size: 1.5rem; }
  .section-search-login button > .svg-inline--fa {
    background: transparent;
    border-radius: 15rem;
    transition: all .8s;
    transition: all .5s; }
  .section-search-login button > .svg-inline--fa:hover {
    box-shadow: 1rem 3rem 5rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem) scale(1.05);
    cursor: pointer; }

.section-api {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px; }

.section-upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .section-upload-form {
    width: 50%;
    margin: 0 auto; }

.section-features {
  background-color: #EEEEEE;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(200, 122, 115, 0.7), rgba(200, 122, 115, 0.9)), url(https://images.unsplash.com/photo-1583161056973-c0375771efb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1806&q=80);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem; }
  .section-features-row {
    background-color: transparent; }
  .section-features > * {
    transform: skewY(7deg); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all .3s; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #c87a73, #34000f);
    color: transparent;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.section-projects {
  background-color: #EEEEEE;
  padding: 20rem 0 5rem 0;
  margin-top: -8rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card-side {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden; }
    .card-side-back {
      transform: rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #c87a73, #34000f); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #484E8F, #0D0D19); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #FCE478, #DBAD3B); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    text-align: right;
    position: absolute;
    top: 8rem;
    right: 2rem;
    width: 75%; }
  .card-heading-span {
    padding: 1rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(200, 122, 115, 0.85), rgba(52, 0, 15, 0.85));
      color: white; }
    .card-heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(72, 78, 143, 0.85), rgba(13, 13, 25, 0.85));
      color: white; }
    .card-heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(252, 228, 120, 0.85), rgba(219, 173, 59, 0.85));
      color: white; }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: hue;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #c87a73, #34000f), url(https://i.imgur.com/JvmYsxF.png); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #484E8F, #0D0D19), url(https://i.imgur.com/tZBNCN7.png); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #FCE478, #DBAD3B), url(https://i.imgur.com/MOP2Xu1.png); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        color: #777; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #c7c5c5; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card-details-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card-details-title {
    font-size: 4rem;
    text-transform: uppercase; }
  .card-details-sub-title {
    font-size: 2rem;
    font-weight: 300; }

.section-experience {
  padding: 15rem 0;
  background-color: #EEEEEE; }

.experience {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 5rem;
  border-radius: .5rem;
  transform: skewX(-12deg); }
  .experience-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .experience-image {
    width: 100%;
    transform: scale(1.3);
    transition: all .5s; }
  .experience-image-2 {
    width: 100%;
    transform: translateY(2rem) scale(1.4);
    transition: all .5s; }
  .experience-text {
    font-size: 1.6rem;
    transform: skewX(12deg); }
  .experience-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .experience:hover .experience-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .experience:hover .experience-image {
    outline: none;
    border: none;
    transform: scale(1);
    filter: blur(1rem) brightness(90%); }
  .experience:hover .experience-image-2 {
    outline: none;
    border: none;
    transform: scale(1);
    filter: blur(1rem) brightness(90%); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scale(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #FDFFFC;
  color: #777;
  text-align: center; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #AC0032;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #AC0032;
  padding: 3px;
  transition: all .3s;
  height: 50px; }

.btn-text:hover {
  border-radius: 1rem; }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.btn-submit {
  font-size: 1.6rem;
  padding: 2rem;
  margin-top: 1.5rem;
  border: none;
  letter-spacing: .4rem;
  color: #34000f;
  text-transform: uppercase;
  background: transparent;
  transition: all .3s; }
  .btn-submit:hover {
    font-size: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
    border-bottom: 0.5rem solid #c87a73;
    cursor: pointer; }
  .btn-submit:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(0); }
  .btn-submit:focus {
    outline: 0; }

.btn-search {
  font-size: 1.6rem;
  padding: 2.2rem 1rem;
  margin-top: 1.5rem;
  border: none;
  color: #FDFFFC;
  text-transform: uppercase;
  background-color: #AC0032;
  transition: all .6s; }
  .btn-search:hover {
    color: #AC0032;
    background-color: transparent;
    transform: translateY(-0.5rem);
    border-bottom: 0.5rem solid #c87a73;
    cursor: pointer; }
  .btn-search:focus {
    outline: none; }

.composition {
  position: relative; }
  .composition__photo {
    width: 75%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    position: absolute;
    transition: all .3s;
    outline-offset: 1.5rem;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 5rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 15rem; }
    .composition__photo:hover {
      transform: scale(1.2) translateY(-2rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.form {
  text-align: center; }
  .form-group input, .form textarea {
    font-size: 1.5rem;
    font-family: inherit;
    background: transparent;
    color: #34000f;
    padding: 2rem 1.5rem;
    margin: 2rem 0rem;
    border: none;
    border-bottom: 0.3rem solid #c87a73;
    width: 50%;
    text-align: center;
    transition: all .5s; }
  .form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #34000f;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  .form-group-confirm::-webkit-input-placeholder {
    color: #34000f;
    text-align: center;
    font-size: 1rem !important;
    text-transform: uppercase;
    letter-spacing: 1rem; }
  .form input:focus, .form textarea:focus {
    font-size: 2rem;
    outline: none;
    text-align: center;
    box-shadow: 0px 2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem; }
  .form textarea:focus {
    height: 150px; }
  .form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  .form input[type=file] {
    display: none;
    visibility: hidden; }
  .form-group-file {
    font-size: 1rem !important;
    background: #c87a73;
    opacity: 1 !important;
    visibility: visible !important;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    border: none;
    border-bottom: 0.3rem solid #c87a73;
    width: 50%;
    display: block;
    margin-bottom: 2rem; }
  .form-group-file:hover {
    cursor: pointer;
    box-shadow: 1rem 2rem 3rem 2rem rgba(0, 0, 0, 0.2); }
  .form-group label {
    font-size: 1.5rem;
    margin-top: 1rem;
    letter-spacing: 1rem;
    display: block;
    transition: all .5s;
    color: #34000f;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0; }
  .form input:focus + label, .form textarea:focus + label {
    opacity: 1;
    visibility: visible;
    translate: translateY(0.8rem); }
  .form-group-alert {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #972B34;
    visibility: hidden;
    opacity: 0;
    display: block;
    transition: all 1s;
    margin-top: 1rem; }
  .form-group-alert:not(:empty) {
    visibility: visible;
    opacity: 1;
    translate: translateY(2rem); }
  .form-search {
    text-align: center; }
  .form-search-group {
    display: inline;
    background-color: #EEEEEE; }
  .form-search-group input {
    font-size: 2rem;
    font-family: inherit;
    background: transparent;
    text-align: center;
    color: #34000f;
    padding: 2rem 1.5rem;
    margin: 2rem 0rem;
    border: none;
    border-bottom: 0.3rem solid #c87a73;
    width: 60%;
    transition: all .5s; }
  .form-search-group input::-webkit-input-placeholder {
    color: #34000f;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .form-search-group input:focus {
    font-size: 2rem;
    outline: none;
    text-align: center; }
  .form-search-group input:focus::-webkit-input-placeholder {
    color: transparent; }
