.composition {
    position: relative;
    
    &__photo {
        width: 75%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: .5rem;
        position: absolute;
        transition: all .3s;
        outline-offset: 1.5rem;
        z-index: 10;
        
        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 5rem;
        }

        &--p3 {
            left: 20%;
            top: 15rem;
        }

        &:hover {
            transform: scale(1.2) translateY(-2rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            // outline: 1.5rem solid rgba($color-primary, .1);
            z-index: 20; 
        }
        
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }
    
}