.section-music {
    background-color: $color-grey-light-1;
    padding: 5rem 0;
    margin-top: -20vh;

    &-track {
        padding: 2rem 0rem;
    }

    &-track ul {
        list-style-type: none;
    }

    &-track ul li {
        display: flex;
        align-items: center;
        vertical-align: center;
    }
    
    &-track ul li img{
        width: 20%;
        border-radius: 1rem;
        margin-right: 2rem;
    }

    &-track ul li span{
        display: grid;
        grid-template-columns: column;
        width: 1000%;
        border-radius: 1rem;
        margin-right: 2rem;
        font-size:1.5rem;
        text-align: left;
        text-transform: uppercase;
    }

    &-track ul li span small{
        font-size: .5rem;
    }

    &-track ul li a {
        position: absolute;  
        padding-bottom: 3rem;  
    }

    &-updated {
        font-size: 1rem;
        padding: .5rem;
    }

    &-play {
        position: absolute;
        font-size: 3rem;
        margin-left: 1.5rem;
        color: $color-primary;
        opacity: 0;
        display: block;
        transition: all .5s;
    }

    &-play:hover {
        opacity: 1;
        background-color: white;
        border-radius: 2rem;
    }
}

