.section-signup {
    &-container {
        height: 85vh;
    }

    &-box {
        width:50%;
        height: 80%;
        margin: 0 auto;
        margin-top: 3rem;
    }

    &-row {
        margin-top: 2rem;
    }

    a {
        margin-right: 1rem;
    }
}