.section-login {
    &-container {
        height: 80vh;
    }

    &-box {
        width:50%;
        height: 80%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    &-row {
        margin-top: 2rem;
    }
}