.section-testimonial {
    padding: 5rem 1rem;
    height: 60rem;

    @include respond(tab-port){ 
        height: 100%;
    }

    &-form {
        padding: 2rem 5rem;
        height: 50rem;
    }

    &-form-left {
        position: relative;
        height: 50rem;
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        box-shadow: 0 2rem 4rem rgba($color-black, .4);
    }

    &-form-right {
        padding: 2rem 3rem;
        
    }

    &-progress {
        position: relative;
    }

    &-progress-bar {
        @include center-hoz-ver;
        position: relative;
        margin-top: 20rem;
        width: 80%;
        height: 3rem;
        background-color: $color-primary-dark;
        border-radius: 1.5rem;
        color: white;

        @include respond(tab-port){ 
            margin-top: 5rem;
        }
    }

    &-progress-bar::before {
        content: attr(data-label);
        display: flex;
        align-items: center;
        position: absolute;
        top: .3rem;
        left: .3rem;
        bottom: .3rem;
        font-size: 1.2rem;
        width: calc(var(--width, 0) * 1%);
        min-width: 2rem;
        max-width: calc(100% - 1rem);
        background-color: $color-primary;
        border-radius: 1rem;
        padding: 1.2rem .5rem;
    }
}

.section-admin-testimonials {
    &-menu {
        display: flex;
        justify-content: flex-start;
    }
}

.testimonial {

    &-box {
        background-color: rgba($color-white, .8);
        font-size: 1.5rem;
        padding: 2.5rem;
        text-align: center;
        border-radius: .3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
        transition: all .3s;
    }

    &-box svg * {
        fill: url(#rg);
    }

    &-box-icon {
        font-size: 3rem;
        margin-bottom: .5rem;
        
    }

    &-box:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &-shape-box {
        transform: skewX(-12deg);
        padding: 5rem 0 0 6rem;
    }
    
    &-menu {
        display: flex;
        justify-content: flex-start;
    }

    &-shape {
        margin: 0 auto;
        width: 12rem;
        height: 12rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    }

    &-image {
        width: 100%;
        transform: translateY(2rem) scale(1.4);
        transition: all .5s;
    }
}