.section-music {
    background-color: $color-grey-light;
    padding: 5rem 0 12rem 0;
    margin-top: -20vh;

    &-track {
        padding: 2rem 0rem;
    }

    &-track ul {
        list-style-type: none;
    }

    &-track ul li {
        display: flex;
        align-items: center;
        vertical-align: center;
        transition: all .5s;
    }

    &-track ul li:hover {
        transform: translateX(-1.5rem) scale(1);

        @include respond(tab-land){ 
            transform: none;
        }
    }

    &-track ul li span{
        display: grid;
        grid-template-columns: column;
        width: 100%;
        border-radius: 1rem;
        margin-right: 2rem;
        font-size:1.5rem;
        text-align: left;
        text-transform: uppercase;
    }

    &-track ul li span small{
        font-size: .5rem;
    }

    &-track ul li a {
        position: relative;  
    }

    &-track ul li img{
        width: 20%;
        height: 100%;
        border-radius: 1rem;
        margin-right: 2rem;
        margin-bottom: .2rem;
    }

    &-updated {
        font-size: 1rem;
        padding: .5rem;
    }

    &-play {
        display: inline-block;
        @include center-hoz-ver;
        margin-left: 3rem;
        font-size: 3rem;
        color: $color-primary;
        opacity: 0;
        transition: all .5s;

        @include respond(tab-land){ 
            opacity: 1;
            background-color: white;
            border-radius: 2rem;
            font-size: 2rem;
        }

        @include respond(tab-port){ 
            opacity: 1;
            background-color: white;
            border-radius: 2rem;
            font-size: 2rem;
            margin-left: 4.3rem;
        }
    }

    &-play:hover {
        opacity: 1;
        background-color: white;
        border-radius: 2rem;
        box-shadow: .2rem .5rem 1rem 1rem rgba($color-black, .2);
        cursor: pointer;
    }

    &-pause {
        position: absolute;
        margin-left: 1.5rem;
        font-size: 3rem;
        background-color: white;
        border-radius: 2rem;
        color: $color-primary;
        transition: all .5s;
    }

    &-pause:hover {
        box-shadow: .2rem .5rem 1rem 1rem rgba($color-black, .2);
        cursor: pointer;
    }

    &-track ul li div > .fa-plus{
        font-size: 1.5rem;
    }

    &-track ul li div > .fa-plus:hover {
        cursor:pointer;
    }

    &-track ul li div > .fa-check{
        color: $color-primary-light;
        font-size: 1.5rem;
    }

    &-track ul li div > .fa-check:hover {
        color: $color-primary-light;
    }

}

.section-search {
    text-align: center;

    &-login {
        display: grid;
        grid-template-columns: column;
    }

    &-login button {
        display: flex;
        justify-content: center;
        font-size: 20rem;
        outline: none;
        border: none;
        padding: 2rem 1rem;
        color: $color-spotify-green;
        background: transparent;
    }

    &-login small {
        font-size: 1.5rem;
    }

    &-login button > .svg-inline--fa {
        background: transparent;
        border-radius: 15rem;
        transition: all .8s;
        transition: all .5s;
    }

    &-login button > .svg-inline--fa:hover {
        box-shadow: 1rem 3rem 5rem .5rem rgba($color-black, .2);
        transform: translateY(-1rem) scale(1.05);
        cursor: pointer;
    }
}